@import '../../../../shared/styles/scss/variables.scss';

.assist-request {
  div.stat {
    font-size: 13px;
    margin-top: 3px;
    @media screen and (min-width: $lg) {
      margin-right: 30px;
    }
    @media screen and (max-width: $lg) {
      // margin-left: 24px;
      // font-size: 15px;
    }
  }
}

.cancelled-assists {
  h1 {
    font-weight: 380;
  }
  span {
    margin-left: -7.5px;
  }
}
