@import '../../../shared/styles/scss/variables.scss';

main {
  .tops {
    background-color: white;
    padding: 30px;
    .smnjn {
    }
    .title-text {
      font-weight: 500;
      font-size: 18px;
    }
    .grey-container {
      background-color: $gray-background;
      padding: 20px;
      width: 290px;
      height: 170px;
      .desc {
        font-size: 14px;
      }
      .pricearea {
        margin-top: -30px;
        h4 {
          font-weight: 800;
          font-size: 22px;
        }
        .cashout {
          font-weight: 300;
          font-size: 13px;
          padding: 8px 10px;
          width: auto;
          margin-top: 0;
          border-radius: 2px;
        }
      }
      .bottomarea {
        border-top: 1px solid #ccc;
        padding-top: 6px;
        span {
          font-size: 13px;

          font-weight: 500;
        }
      }
    }
  }
}
