@import '../../../../../shared/styles/scss/variables.scss';

.users_bub {
  border: 1px solid $border-2;
  display: inline-block;
  padding: 8px;
  margin-top: 9px;
  border-radius: 5px;
  min-width: 130px;
  margin-right: 12px;
  svg {
    color: $border-2;
  }
  span {
    margin-left: 6px;
  }
}
