@import '../../styles/scss/variables.scss';

.icon-border {
  border: 1px solid $border;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  .input-icon {
    margin-left: 10px;
    margin-bottom: -4.5px;
  }
  .icon-input {
    margin-left: 20px;
    height: 37px;
  }
}

.icon-border-2 {
  display: flex;
  width: 100% !important;
  height: 38px;
  border: 1px solid $border-2;
  .icon-wrapper {
    width: 38px;
    svg {
      margin-left: 10px;
      margin-top: 9px;
    }
  }
  .input-wrapper {
    input {
      padding-left: 10px;
    }
  }
}
