@import '../../../../shared/styles/scss/variables.scss';

.pay-option {
  border: none !important;
  height: 200px !important;
  background: $faint-primary !important;
  @media (max-width: $lg) {
    &:last-child {
      margin-top: 20px !important;
    }
  }
  svg {
    color: $primary !important;
  }
  p {
    font-weight: bold !important;
    color: $primary;
    text-align: center !important;
  }
}
