@import '../../../../../shared/styles/scss/variables.scss';

.permissions {
  padding: 30px 20px 20px 28px;
  .permission {
    position: relative;
    cursor: pointer;
    .options {
      position: absolute;
      width: 100%;
      background: $white;
      z-index: 15;
      border: 1px solid $border-3;
      top: 72px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-bottom: 13px;
      div {
        padding: 22px 15px 15px 15px;
      }
    }
  }
}
